body {
  background-color: #f6f6f5;
}
.brand-logo {
  width: 55px;
  height: 55px;
}
/* ========================================== */
/*          Hero Section Styling              */
/* ========================================== */
#self-portriat {
  height: 100vh;
  width: 100%;
  position: relative;
}
#self-portriat::after {
  background-image: url(../images/images-05032018/self-portriat.png);
  background-size: 100% 100%;
  background-position: center;
  content: "";
  opacity: 0.46;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#name-container {
  position: absolute;
  top: 200px;
  left: 70px;
  transform: rotate(-10deg);
}
.my-name {
  display: block;
  font-family: "Rock Salt", cursive;
  font-size: 67px;
  font-weight: bolder;
  color: #607d8b;
}
#i-am {
  position: absolute;
  top: 315px;
  right: 300px;
  font-family: "Rock Salt", cursive;
  font-size: 60px;
  color: #5d6d7e;
  transform: rotate(-2deg);
}
#js-rotating {
  position: absolute;
  top: 400px;
  right: 75px;
  font-family: "Fredericka the Great", cursive;
  font-size: 60px;
  /* font-size: 65px; */
  color: #5d6d7e;
}
#about-me-container {
  height: 100vh;
  background: #fdd835;
}
#about-me-container h1 {
  text-align: center;
  margin: 60px 0 30px 0;
  font-size: 50px;
  /* color: #5d6d7e; */
  color: #85929e;
}

.about-me p {
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
  color: #5d6d7e;
}
.about-me {
  padding-top: 25px;
}

.about-me p {
  text-align: center;
  margin: auto;
}
.about-me p:nth-child(-n + 2) {
  text-align: center;
  margin-bottom: 30px;
}
.card-deck {
  margin-top: -100px;
}
.card {
  border-radius: 10px;
  box-shadow: 2px 2px 15px #657c89;
}
.card-image-container {
  text-align: center;
  margin-bottom: 20px;
}
.card-image {
  width: 400px;
  height: 200px;
  margin-top: 30px;
}
.card-title {
  text-align: center;
  font-size: 30px;
}
.card-body h5:nth-child(2) {
  color: #df6339;
}
.card-body ul {
  list-style: none;
  font-weight: lighter;
}

.navbar.scrolled {
  background-color: #f1f0ef;
  transition: background-color 200ms linear;
}

.navbar.scrolled .nav-link {
  color: #607d8b;
}
#work-container h1 {
  text-align: center;
  margin: 60px 0 30px 0;
  font-size: 50px;
  color: #85929e;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0015 {
  font-family: "Raleway", Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  /* margin: 10px 1%; */
  padding: 0;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.snip0015 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0015 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  height: 334px;
}
figure.snip0015 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em 3em;
  width: 100%;
  height: 100%;
}
figure.snip0015 figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: "";
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015 h2,
figure.snip0015 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
    -o-transform 0.35s, transform 0.35s;
}
figure.snip0015 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015 h2 span {
  font-weight: 800;
}
figure.snip0015 p {
  font-weight: 200;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0015 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0015:hover img {
  opacity: 0.35;
}
figure.snip0015:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015:hover figcaption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ================================================================= */
/*                        Media Queries                              */
/* ================================================================= */
/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 400px) and (max-width: 575.98px) {
  #self-portriat {
    height: 60vh;
  }
  #name-container {
    left: 20px;
    top: 80px;
  }
  .my-name {
    font-size: 25px;
  }
  #i-am {
    font-size: 20px;
    right: 90px;
    top: 75px;
  }
  #js-rotating {
    font-size: 15px;
    right: 25px;
    top: 110px;
  }
  .card-image {
    width: 300px;
    height: 150px;
  }
  .about-me p {
    font-size: 17px;
  }
  .card-deck {
    margin-top: -25px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #name-container {
    left: 27px;
    top: 140px;
  }
  .my-name {
    font-size: 38px;
  }
  #i-am {
    font-size: 40px;
    right: 95px;
    top: 225px;
  }
  #js-rotating {
    font-size: 28px;
    right: 15px;
    top: 290px;
  }
  .card-image {
    width: 100%;
    height: 150px;
    margin-top: 30px;
  }
  .card-deck {
    margin-top: -50px;
  }
  .about-me p {
    font-size: 19.9px;
  }
  .card-body h5:nth-child(2) {
    font-size: 15px;
  }
  .card-body ul {
    font-size: 14px;
    padding-left: 10px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #name-container {
    left: 50px;
  }
  .my-name {
    font-size: 45px;
  }
  #i-am {
    font-size: 50px;
    right: 150px;
  }
  #js-rotating {
    font-size: 40px;
    right: 30px;
  }
  .card-image {
    width: 100%;
  }
  .card-body h5:nth-child(2) {
    font-size: 17px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .my-name {
    font-size: 50px;
  }
  #i-am {
    font-size: 50px;
    right: 240px;
  }
  #js-rotating {
    font-size: 45px;
    right: 50px;
  }
  /* #about-me-container {
    height: 100%;
  } */
}
/* Extra Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
  #about-me-container {
    height: 100vh;
  }
}
