.my-navbar{
  background-color: #2B3A42;
  margin: 0 auto;
  padding: 0;
}
#about{
  color: white;
  font-size: 20px;
  padding-top: 23px;
}
#about:hover{
  color: gold;
}
#work{
  color: white;
  font-size: 20px;
  padding-top: 23px;
}
#work:hover{
  color: gold;
}
#contact{
  color: white;
  font-size: 20px;
  padding-top: 23px;
}
#contact:hover{
  color: gold;
}
#resume{
  color: white;
  font-size: 20px;
  padding-top: 23px;
}
#resume:hover{
  color: gold;
}
.name{
  color: white;
  /*font-size: 11vw;*/
  font-size: 140px;
  margin-top: 75px;
  position: absolute;
  font-family: 'Prompt', sans-serif;
  line-height: 90px;
}

.title{
  color: gold;
  /*font-size: 7vw;*/
  font-size: 80px;
}
.picture-window{
  background-image: url('../images/cover.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.nav-section{
  position: fixed;
  padding: 0;
}
.image-logo{
  height: 70px;
  margin-left: 20px;
}
.testing{
  font-size: 10px;
}
.about-section{
  background-color: #2B3A42;
  padding-top: 0;

}
.social-icon i{
  color: white;
  font-size: 50px;
  margin: 15px;
}
.facebook:hover{
  color: #3B5998;
  transform: scale(1.4);
}
.linked:hover{
  color: #1F89BE;
  transform: scale(1.4);
}
.github:hover{
  color: #92D6EF;
  transform: scale(1.4);
}
.headshot{
  width: 250px;
  border-radius: 50%;
  /*margin-top: 55px;*/
  margin-top: 30px;
}
.content-container{
  margin-top: 30px;
  margin-bottom: 20px;
}
.aboutme-title{
  border-top: 3px solid gold;
  border-bottom: 3px solid gold;
  font-size: 50px;
  color: gold;
  font-family: 'Play', sans-serif;
}
.aboutme-content{
  color: white;
  font-size: 17px;
  font-family: 'Play', sans-serif;
}
.skills{
  border-top: 3px solid gold;
  border-bottom: 3px solid gold;
}
.whatiknow{
  font-family: 'Play', sans-serif;
  font-size: 60px;
}
/*##############SKILL SECTION####################*/
.skill-logo{
  margin-top: 30px;
  border-bottom: 3px solid gold;
}
.demo-3 {
    position:relative;
    width: 200px;
    height: 200px;
    overflow:hidden;
    margin: 0 auto;
}
.demo-3{
  list-style: none;
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0;
    width: 175px;
    height: 175px;
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h2 {
    font-family: 'Play', sans-serif;
    color:#fff;
    font-size:30px;
    margin-top: 50px;
    text-align:center;
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color: #2B3A42;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}
.mobile-skills img{
  height: 50px;
  width: 50px;
}
.mobile-skills p{
  font-size: 20px;
}
.mobile-skills{
  margin-top: 30px;
}
.project-title{
  border-bottom: 3px solid gold;
}
.projects{
  font-family: 'Play', sans-serif;
  font-size: 60px;
}


/*############################ PROJECT SECTION ###################################*/
.worksection{
  background-color: #2B3A42;
  border-bottom: 3px solid gold;
  margin-bottom: 0;
}
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
  border-radius: 10px;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
  font-size: 20px;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: gold;
  background-color: #2B3A42;
	text-transform: none;
	font-size: 75%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.projecticon{
  padding-left: 5px;
  font-size: 30px !important;
}
/*#################### Contact Section ########################*/
.contact-title{
  border-bottom: 3px solid gold;
}
.contact{
  font-family: 'Play', sans-serif;
  font-size: 60px;
}
.contactdescription{
  font-size: 20px;
}
.phonecontact i{
  font-size: 50px;
}
.emailcontact i{
  font-size: 50px;
}
.emailcontainer{
  border-left: 3px solid gold;
}
.sitefooter{
  border-top: 3px solid gold;
  background-color: #2B3A42;
}


@media (min-device-width: 320px){
  .name{
    font-size: 90px;
  }
  .title{
    font-size: 60px;
  }
  .projects{
    font-size: 48px;
  }
  .emailcontainer{
    border-left: none;
  }
  .grid figure{
    min-width: 273px;
  }
  #mob-title{
    font-size: 16px;
  }
}
